.footer {
   padding: calc(var(--padding)*3) 0;
   background-color: var(--main-color);

   @media(min-width: 992px) {
      padding: calc(var(--padding)*5) 0;
   }

   .container {
      display: flex;
      justify-content: space-between;

      @media(max-width: 991px) {
         display: block;
         margin: 0 auto;
      }

      div:last-child {
         color: var(--white-color);
         text-align: center;
      }
   }

   .social-icons {
      display: flex;
      margin: calc(var(--margin)*0.3) 0 0 0;
      font-size: 1.25rem;
      line-height: 1.25;

      @media(max-width: 991px) {
         margin: calc(var(--margin)*0.3) 0 calc(var(--margin)*2) 0;
         justify-content: center;
      }

      li {
         display: flex;
         justify-content: center;

         &:not(:last-child) {
            margin: 0 calc(var(--padding)*2) 0 0;
         }

         a {
            cursor: pointer;
         }
      }
   }
}