.footer {
   padding: calc(var(--padding)*3) 0;
   background-color: var(--main-color);

   @media(min-width: 992px) {
      padding: calc(var(--padding)*5) 0;
   }

   .container {
      display: flex;
      justify-content: space-between;
      @media(max-width: 991px){
         display: block;
         margin: 0 auto;
      }

      div:last-child {
         color: var(--white-color);
         text-align: center;
      }
   }

   .social-icons {
      display: flex;
      margin: calc(var(--margin)*0.3) 0 0 0;
      font-size: 1.25rem;
      line-height: 1.25;
      @media(max-width: 991px){
      margin: calc(var(--margin)*0.3) 0 calc(var(--margin)*2) 0;
      justify-content: center;
      }
      li {
         display: flex;
            justify-content: center;
         // &::before {
         //    content: '';
         //    display: inline-block;
         // }
        width: 20px;
         &:not(:last-child) {
            margin: 0 calc(var(--padding)*2) 0 0;
         }
         a{
            cursor: pointer;
         // &::before {
         //       content: '';
         //       display: inline-block;
         //       background-repeat: no-repeat;
         //    }
         }
      }

   //      .facebook::before {
   //       @include maskImg('../../image/img_footer/facebook.svg', var(--white-color));
   //       background-image: url('../../image/img_footer/facebook.svg');
   //       width: 10px;
   //       height: 18px;
   //    }

   //      .instagram::before {
   //       @include maskImg('../../image/img_footer/instagram.svg', var(--white-color));
   //       background-image: url('../../image/img_footer/instagram.svg');
   //       width: 18px;
   //       height: 18px;
   //    }

   //      .twitter::before {
   //       @include maskImg('../../image/img_footer/twitter.svg', var(--white-color));
   //       background-image: url('../../image/img_footer/twitter.svg');
   //       width: 22px;
   //       height: 18px;
   //    }

   //   .p::before {
   //       @include maskImg('../../image/img_footer/p.svg', var(--white-color));
   //       background-image: url('../../image/img_footer/p.svg');
   //       width: 14px;
   //       height: 18px;
   //    }

   //    .tik-tok::before {
   //       @include maskImg('../../image/img_footer/tik-tok.svg', var(--white-color));
   //       background-image: url('../../image/img_footer/tik-tok.svg');
   //       width: 15.5px;
   //       height: 18px;
   //    }

   //    .whatsapp::before {
   //       @include maskImg('../../image/img_footer/whatsapp.svg', var(--white-color));
   //       background-image: url('../../image/img_footer/whatsapp.svg');
   //       width: 18px;
   //       height: 18px;
   //    }

   //    .you-tobe::before {
   //       @include maskImg('../../image/img_footer/you-tobe.svg', var(--white-color));
   //       background-image: url('../../image/img_footer/you-tobe.svg');
   //       width: 26px;
   //       height: 18px;
   //    }

   }
}